#incluce <string>
#include <memory>

#include "pybind11/pybind11.h"
#include "ctp/ThostFtdcMdApi.h"


inline std::string convert_value(const std::string& gb2312) {
  PyObject* unicode = PyUnicode_Decode(gb2312.data(), gb2312.size(), "GBK", "strict");
  PyObject* utf8_bytes = PyUnicode_AsUTF8String(unicode);
  string res(PyBytes_AsString(utf8_bytes), PyBytes_Size(utf8_bytes));
  Py_XDECREF(unicode);
  Py_XDECREF(utf8_bytes);
  return res;
}

{% for basic_type in basic_type_list %}
inline {{basic_type}} convert_value(const basic_type& value) {
  return value;
}
{% endfor %}


{% for struct in struct_list %}
void convert_value(const {{struct.name}}& data, pybind11::dict& py_dict) {
   {% for field in struct.field_list %}
   py_dict["{{field.name}}"] = convert_value(data.{{field.name}});
   {% endfor %}
}

void convert_value(const pybind11::dict& py_dict,  {{struct.name}}& data) {
   memcpy(&data, 0, sizeof(data));
   {% for field in struct.field_list %}
   if (py_dict.contains("{{field.name}}")) {
     convert_value(py_dict["{{field.name}}"], &(data.{{field.name}}));
   }
   {% endfor %}
}
{% endfor %}


class MdApi: public CThostFtdcMdSpi {
 private:
  CThostFtdcMdApi* api;

 public:
  MdApi() = default;

  virtual int call(pybind11::dict& req_dict) {
    const auto& method = req_dict['method']
    {% for method in req_method_list %}
    if (method == "{{method.name}}") {
      {% for param in method.params %}
      std::remove_pointer<std::remove_pointer<std::remove_cv<{{param.type}}>::type>::type>::type {{param.name}};
      convert_value(req_dict["params"]["{{param.name | transform_param_name}}"], &{{param.name}});
      {% endfor %}
      auto result = {{method.name}}({{method.params | transform_call_param_list}});
      pybind11::dict py_result;
      py_result["method"] = method;
      py_result["result"] = convert_value(result);
      return py_result;
    }
    {% endfor %}
    }
  }

  virtual void on_response(pybind11::dict& resp_dict) = 0;

  {% for method in on_rsp_method_list %}
  virtual void {{method.name}}({{method.params|transform_param_list}}) {
    pybind11::dict resp_dict;
    pybind11::dict data;
    resp_dict["method"] = "{{method.name}}";
    resp_dict["data"] = data;
    {% for param in method.params %}
    data["{{param.name | transform_param_name}}"] = convert_value({{param.name}});
    {% endfor %}
    this->on_response(resp_dict);
  }
  {% endfor %}
};
